<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="jumbotron">
      <h2 class="text-center"><%= @restaurant.name %></h2>
      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>
      <p>
        <strong>Phone number:</strong>
        <%= @restaurant.phone_number %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= @restaurant.category %>
      </p>
    </div>
  </div>
<div class="col-xs-12 col-md-12">

<div>
  <% if !@reviews.empty? %><h4>Reviews:</h4><% end %>
    <ul class="list-group">
    <% @reviews.each do |review| %>
      <div class="list-group-item">
        <li><%= review.content %>  <%= review.rating %><i class="fas fa-star"></i></li>
      </div>
    <% end %>
    </ul>

<div class="col-xs-12 col-md-12 btn-group">
  <%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-secondary" %>
  <%= link_to 'Back', restaurants_path, class: "btn btn-secondary" %>
</div>
